{##
 # @param WXR\ContentBundle\Model\ContentInterface[] contents
 #}

{% macro item(content) %}
{% if content.title %}
        <h3>{{ content.title }}</h3>
{% endif %}
{% if content.content %}
        <p>{{ content.content|raw }}</p>
{%- endif %}
{% endmacro %}

{% macro list(contents) %}
<ul class="unstyled">
{% for content in contents %}
{% if content.title or content.content %}
    <li>
{{ _self.item(content) }}
    </li>
{% endif %}
{% endfor %}
</ul>
{% endmacro %}

{% if contents is not empty %}
{% if contents is iterable %}
{{ _self.list(contents) }}
{% else %}
{{ _self.item(contents) }}
{% endif %}
{% endif %}
